 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('images/FrontPageImg.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 258px auto 0;
}

.u-section-1 .u-text-2 {
  width: 760px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 777px;
}

.u-section-2 .u-text-1 {
  margin: 55px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 54px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 521px;
  grid-gap: 10px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-1 {
  min-height: 184px;
  height: auto;
  width: 258px;
  margin: -65px 0 0 85px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-2 {
  min-height: 188px;
  height: auto;
  background-size: auto;
  width: 258px;
  margin: -65px 0 0 85px;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-3 {
  min-height: 184px;
  height: auto;
  background-size: auto;
  width: 258px;
  margin: -65px 0 0 85px;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-4 {
  min-height: 184px;
  height: auto;
  background-size: auto;
  width: 258px;
  margin: -65px 0 0 85px;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-icon-5 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-5 {
  min-height: 184px;
  height: auto;
  background-size: auto;
  width: 258px;
  margin: -65px 0 0 85px;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-12 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 0 30px 30px;
}

.u-section-2 .u-icon-6 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-2 .u-group-6 {
  min-height: 184px;
  height: auto;
  background-size: auto;
  width: 258px;
  margin: -65px 0 0 85px;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 20px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-14 {
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 527px;
  }

  .u-section-2 .u-group-1 {
    min-height: 188px;
    width: 192px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    width: 192px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-2 .u-group-3 {
    min-height: 188px;
    width: 192px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    min-height: 188px;
    width: 192px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-2 .u-group-5 {
    min-height: 188px;
    width: 192px;
    margin-bottom: -4px;
    height: auto;
  }

  .u-section-2 .u-group-6 {
    min-height: 188px;
    width: 192px;
    margin-bottom: -4px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 917px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-2 .u-group-1 {
    min-height: 134px;
    width: 445px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-2 .u-group-2 {
    min-height: 134px;
    width: 445px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-2 .u-group-3 {
    min-height: 134px;
    width: 445px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-2 .u-group-4 {
    min-height: 134px;
    width: 445px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
  }

  .u-section-2 .u-group-5 {
    min-height: 134px;
    width: 445px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
  }

  .u-section-2 .u-group-6 {
    min-height: 134px;
    width: 445px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-12 {
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-group-1 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-5 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 10px;
  }

  .u-section-2 .u-group-6 {
    width: 330px;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-12 {
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 971px;
}

.u-section-3 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-3 .u-image-1 {
  min-height: 610px;
  background-image: url("images/WhatsAppImage2025-03-15at7.45.42PM.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  min-height: 318px;
  background-image: url("images/WhatsAppImage2025-03-15at7.45.46PM.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  min-height: 292px;
  background-image: url("images/WhatsAppImage2025-03-15at7.45.52PM.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 292px;
  background-image: url("images/WhatsAppImage2025-03-15at7.45.49PM.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 52px auto 60px;
  padding: 6px 33px 7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 503px;
  }

  .u-section-3 .u-image-2 {
    min-height: 262px;
  }

  .u-section-3 .u-image-3 {
    min-height: 241px;
  }

  .u-section-3 .u-image-4 {
    min-height: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1902px;
  }

  .u-section-3 .u-image-1 {
    min-height: 771px;
  }

  .u-section-3 .u-image-2 {
    min-height: 401px;
  }

  .u-section-3 .u-image-3 {
    min-height: 369px;
  }

  .u-section-3 .u-image-4 {
    min-height: 369px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2348px;
  }

  .u-section-3 .u-image-1 {
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 301px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 554px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 554px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1613px;
  }

  .u-section-3 .u-image-1 {
    min-height: 364px;
  }

  .u-section-3 .u-image-2 {
    min-height: 190px;
  }

  .u-section-3 .u-image-3 {
    min-height: 349px;
  }

  .u-section-3 .u-image-4 {
    min-height: 349px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 850px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 694px;
}

.u-section-4 .u-container-layout-1 {
  padding: 39px 30px 37px;
}

.u-section-4 .u-form-1 {
  height: 549px;
  width: 542px;
  margin: 0 auto;
}

.u-section-4 .u-form-group-1 {
  margin-left: 0;
}

.u-section-4 .u-form-group-2 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 0px;
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 11px 0 12px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 694px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-line-1 {
  width: 92px;
  transform-origin: left center;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-list-1 {
  grid-auto-rows: 100%;
  margin: 30px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 297px;
  grid-auto-columns: 100%;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 20px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-4 .u-form-1 {
    height: 519px;
    width: 520px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 590px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-form-1 {
    height: 530px;
    width: 590px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 453px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-form-1 {
    width: 520px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    height: 319px;
    width: 320px;
  }
}